<html>
        <head>
          <script type="text/javascript" src="lib/jquery.js"></script>
          <script type="text/javascript">
            $.ajaxSetup({cache:false});
            function login(){
                var form=$("#login_form");
                if(form.is(":hidden")){
                    form.show();
                }else{
                    form.hide();
                }
            }
             function delete_path(){
                  var path=$('#delete_form').find("input[name='path']").val();
                  var lastPartIndex=path.lastIndexOf("/");
                  var parenPath=path.substring(0,lastPartIndex);

                  if(confirm("Are you sure want to delete "+path+"?")){
                        $.post("/delete",$('#delete_form').serialize(),function(rt){
                            alert(rt);
                            if(rt=='Delete ok'){
                               $(parent.document.body).find('#tree').attr('src', "tree?path="+parenPath);
                               window.location.href="get?path="+parenPath;
                            }
                        });
                  }
             }

            var editing=false;
            function edit(){
               <% if(user) { %>
               if(!editing){
                 editing=true;
                 var value=$("#data").val();
                 $("#data_container").html("<form id='edit_form'>"+
                                          "<input type='hidden' name='path' value='<%= path %>'/>"+
                                          "<input type='hidden' name='version' value='<%= stat.version %>'/>"+
                                          "<table><tr><td colspan='2'><textarea cols='90' rows='10' name='new_data' id='new_data'>"+value+"</textarea></td></tr>"+
                                          "<tr><td colspan='2'><input type='submit' value='Save' id='save_data'/></td></tr>"+
                                          "</table></form>");

                $("#new_data").focus();
                $("#save_data").click(function(e){
                      var new_data=$("#new_data").val();
                      if(new_data!=value){
                            $.post("/edit",$("#edit_form").serialize(),function(data){
                                 alert(data);
                                 window.location.href="get?path=<%= path %>";
                            });
                      }else
                            $("#data_container").html(value);
                      editing=false;
                      return false;
                 });
               }
             <% } %>
            }

          </script>
        <head>
        <body>
                <div id='login'>
                  <% if(user) { %>
                    <strong>Welcome,<%= user %> </strong>
                  <% }else{ %>
                      <a href='#' onclick='login();'>login</a>
                      <div id='login_form' style='display:none;'>
                         <form method="post" action="/login">
                            name:
                           <input type="text" name="user[name]" />
                           password:
                           <input type="password" name="user[password]" />
                           <input type="submit" value="Submit" />
                         </form>
                      </div>
                  <% } %>
                </div>
                </br>
                <div>path:<strong><%= path %> </strong> &nbsp;&nbsp;
                  <% if(user){ %>
                  <a href='#' onclick="delete_path();">delete</a>
                  <form id='delete_form' onsubmit="return;">
                    <input type='hidden' name='path' value='<%= path %>'/>
                    <input type='hidden' name='version' value='<%= stat.version %>'/>
                  </form>
                <% } %>
                </div>
                <div>stat:</div>
                <div>
                <table border="1">
                   <tr>
                     <td>name</td>
                     <td>value</td>
                   </tr>
                   <% for(var p in stat){ %>
                   <tr>
                     <td><%= p %></td>
                     <td><%= stat[p] %> </td>
                   </tr>
                   <%} %>
                </table>
                </div>
                </br>
                </br>
                <div>data: </div>
                <input type='hidden' value='<%= data %>' id='data' />
                <div id='data_container' onclick='edit();'>
                  <%= data %>
                </div>
        </body>
</html>
